
*, 
*::before, 
*::after {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html {
    font-size: 62.5%;   /* 1rem = 10px */
}

body {
    font-size: 14px; 
    color: black; 
    font-family: sans-serif; 
    background-color: rgba(0, 0, 0, 0.795); 
}

/* -------------------------------------------- */ 

.header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: black; 
    padding: 2rem 4rem; 
    color: white; 
    font-size: 1.8rem; 
}

.header__left {
    padding: 1rem; 
}

.header__logo {
    font-size: 3rem; 
    font-weight: 600; 
    text-transform: uppercase; 
    letter-spacing: 2px;
    color: darkred;  
}

.header__right {
    display: flex; 
    align-items: center; 
    position: relative;  
}

.header__input {
    border: none; 
    outline: none; 
    padding: 1.1rem 11rem 1.1rem 2rem; 
    font-size: 1.6rem; 
    margin-right: 1.5rem; 
    border-radius: 5rem; 
}

.header__search {
    padding: .8rem 1.6rem; 
    border-radius: 5rem; 
    background-color: darkred; 
    color: white; 
    font-size: 1.5rem;
    font-weight: 300; 
    letter-spacing: 1px;  
    text-transform: uppercase; 
    cursor: pointer; 

    position: absolute; 
    right: 1.7rem;
    top: 3px; 

    transition: transform .3s; 
}

.btn {
    border: none; 
    outline: none; 
}



.content { 
    min-height: calc(100vh - 198px); 
    max-width: 120rem;
    margin: auto; 
    padding: 6rem 1rem; 
}



/* aux classes */

.content--grid {
    display: grid; 
    grid-template-columns: repeat(auto-fill, 27rem); 
    grid-column-gap: 2rem;
    grid-row-gap: 2.5rem;  
    align-content: center; 
    justify-content: center; 
}

.content--flex {
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

/* ---------- */

.footer {
    background-color: black; 
    color: #bbb; 
    font-size: 2rem; 
    padding: 2rem;

    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.footer__copy {
    padding: 2rem; 
}

/* ---------------------- */
/* -------- item ------- */
/* ---------------------- */

.item {
    background-color: rgba(0, 0, 0, 0.267); 
    color: #aaa; 
    padding: 2rem 1.5rem; 
    font-size: 1.6rem; 
    height: 40rem; 
    border: 1px solid black; 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    cursor: pointer; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 

    position: relative; 
    transition: transform .3s; 

    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
}

.item:hover {
    transform: scale(1.03);
}

.item__type {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    left: 0;
    margin: auto;
    padding: .5rem; 
    font-size: 1.3rem; 
    font-weight: 600; 
    letter-spacing: 2px; 
    text-transform: uppercase;
    background-color: #d4d4d4; 
    color: black; 
    border: 1px inset white; 
}

.item__title {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    margin-bottom: 3rem; 
}

.item__details {
    width: 100%; 
    height: 100%; 
    border: 2px solid #d4d4d4; 
    background-color: rgba(0, 0, 0, 0.904); 
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0; 

    display: none;          /* !!!!!!! */
}

.item__details--flex-wrapper {
    height: 100%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 1rem; 
}

.item__property {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.item__property:not(:last-child) {
    margin-bottom: 1rem; 
}

.item__property--value {
    font-weight: 600; 
    letter-spacing: 1px; 
    color: #ddd; 
    line-height: 1.4; 
    margin-top: .3rem; 
} 

.item__property--value-flag {
    font-size: 2rem; 
    line-height: .8; 
    color: #ddd; 
    margin-top: 1rem; 
    text-transform: uppercase; 
    background-color: black; 
    border: 1px solid white; 
    padding: 1rem; 
}

.item__stars { 
    display: inline-block; 
    margin-top: 2rem; 
}

.item__stars i { 
    font-size: 1.5rem; 
    color: #ee0; 
    cursor: pointer; 
}

.item__stars i:not(:last-child) {
    margin-right: .3rem; 
}

.item__flag-img { 
    display: block; 
    width: 5rem; 
    text-align: center; 
}

/* ---------------------- */
/* ---- empty result ---- */
/* ---------------------- */

.result {
    width: 80%; 
    font-size: 2.5rem; 
    text-align: center;
    line-height: 1.6;
    color: #bbb; 
}
